/* header,
section,
main,
.home-page,
figure,
form {
  border: 1px black solid;
} */
.home-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* background-image: url("https://i523.photobucket.com/albums/w353/roosevelts2/Misc/svu2.png"); */
  background: #acb1ab;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #434341;
}
section {
  width: 100vw;
  height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  width: 100vw;
  min-height: 58vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #d5ba87;
}
figure {
  width: 15vw;
  height: 17vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: #709895;
}
form {
  width: 220px;
  height: 23vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2em 0 2em;
  margin: 2vh 0 2vh 0;
  background: #709895;
}
input,
button {
  width: 115px;
  height: 2vh;
  background: #b8b8b8;
  border-radius: 5px;
  border-style: groove;
}
p {
  font-size: 0.85em;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
}
.blue {
  text-shadow: -5px -1px 8px blue;
  color: white;
}
.red {
  text-shadow: -5px -1px 8px red;
  color: white;
}
.orange {
  text-shadow: -5px -1px 8px orange;
  color: white;
}
form span {
  width: 13vw;
  height: 8vh;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
button:hover {
  box-shadow: -1px -1px 8px 1px blue;
}
span button:hover {
  box-shadow: -1px -1px 8px 1px red;
  animation: ease-in-out 0.4;
}
input:hover {
  width: 9vw;
}
footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff3b7;
}
@media (min-width: 1440px) {
  form {
    width: 300px;
  }
}
